{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-24">
			<h1>Backups</h1>
			<div class="content">
				<table class="object_list">
					<thead>
						<tr>
							<th class="icon"></th><th>Client</th><th>Started</th><th>Duration</th><th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% if object_list %}
							{% for object in object_list %}
								<tr>
									<td class="icon"><img src="{{ STATIC_URL }}img/icons/famfamfam/{% if object.successful %}accept.png{% else %}exclamation.png{% endif %}" /></td>
									<td class="client"><a href="{{ object.client.get_absolute_url }}">{{ object.client }}</a></td>
									<td class="started"><a href="{{ object.get_absolute_url }}">{{ object.started_at }}</a></td>
									<td class="finished">{{ object.started_at|timesince:object.finished_at }}</td>
									<td class="status">{% if object.successful %}Success{% else %}Error{% endif %}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr class="info">
								<td colspan="6">
									There are no backups to display.
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</section>
		
	</div>
{% endblock %}
