{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>Backups<a href="{% url backups_create_backup %}" class="header-button" title="Add a backup">Create a new backup &rarr;</a></h1>
			<div class="content">
				{% if object_list %}
					<table class="backup_list">
						<thead>
							<tr>
								<th>Name</th><th>Client</th><th>Status</th><th>Actions</th>
							</tr>
						</thead>
						<tbody>
						{% for backup in object_list %}
							<tr class="{% cycle 'odd' 'even' %}{% if not backup.active %} inactive{% endif %}">
								<td class="name"><a href="{{ backup.get_absolute_url }}">{{ backup.name }}</a></td>
								<td class="client"><a href="{{ backup.client.get_absolute_url }}">{{ backup.client.hostname }}</a></td>
								<td class="status">{{ backup.get_status|capfirst }}</td>
								<td class="actions"><a href="{% url backups_update_backup backup.id %}" title="Update backup"><img src="{{ STATIC_URL}}/img/icons/16x16/edit_item.png" /></a><img src="{{ STATIC_URL}}/img/icons/16x16/delete_item.png" /></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no backups at present.</p>
				{% endif %}
			</div>
		</section>
		<section class="span-6 last">
			<h1>Filters</h1>
			<div class="content">
				<p>
					Filters go here...
				</p>
			</div>
		</section>
	</div>
{% endblock %}
