{% extends 'backups/base.html' %}

{% block content %}
	<script language="javascript">
		$(function() {
			$("#rules ul.formset-list li").formset({
				prefix: '{{ rule_formset.prefix }}',
				formCssClass: 'rules-dynamic-form'
			});
			$("#jobs ul.formset-list li").formset({
				prefix: '{{ job_formset.prefix }}',
				formCssClass: 'jobs-dynamic-form'
			});
		});
	</script>
	<div class="container">
		<section class="span-18">
			<h1>{% if backup %}{{ backup.name }}{% else %}Create a Backup{% endif %}</h1>
			<div class="content clearfix">
				<form action="" method="post" class="standard-form">{% csrf_token %}
					<h2>Backup Details</h2>
					{% for error in backup_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in backup_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% else %}
							<div class="field-wrapper clearfix">
								{{ field.label_tag }}<br />
								<div class="field">{{ field }}</div>
								<div class="field-errors">	
									{% if field.errors %}
										<span class="error">{{ field.errors.0 }}</span>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<hr />
					<h2>Schedule Details</h2>
					{% for error in schedule_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for error in rule_formset.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in schedule_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% endif %}
					{% endfor %}
					<div class="field-wrapper clearfix">
						Run on &nbsp;{{ schedule_form.start_date }} &nbsp;at &nbsp;{{ schedule_form.start_time }} &nbsp;and then repeat every:
					</div>
					{{ rule_formset.management_form }}
					<div class="field-wrapper clearfix" id="rules">
						<ul class="formset-list">
							{% for form in rule_formset.forms %}
								{% for field in form %}
									{% if field.is_hidden %}
										{{ field }}
									{% endif %}
								{% endfor %}
								<li>
									
										{{ form.interval }}&nbsp;
										{% if form.interval.errors %}
											<span class="error">
											({{ form.interval.errors.0 }})
											</span>&nbsp;
										{% endif %}
										{{ form.frequency }}&nbsp;
										{% if form.frequency.errors %}
											<span class="error">
											({{ form.frequency.errors.0 }})
											</span>&nbsp;
										{% endif %}
										
								</li>
							{% endfor %}
						</ul>
					</div>
					<hr />
					<h2>Job Details</h2>
					<p>Backup the following paths:</p>
					{{ job_formset.management_form }}
					<div class="field-wrapper clearfix" id="jobs">
						<ul class="formset-list">
							{% for form in job_formset.forms %}
								{% for field in form %}
									{% if field.is_hidden %}
										{{ field }}
									{% endif %}
								{% endfor %}
								<li>
									
										{{ form.path }}&nbsp;
										{% if form.path.errors %}
											<span class="error">
											({{ form.path.errors.0 }})
											</span>
										{% endif %}
										
								</li>
							{% endfor %}
						</ul>
					</div>
					<button type="submit" class="button"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/tick.png" />{% if backup %}Update Backup{% else %}Create Backup{% endif %}</button>
				</form>
				<form method="GET" action="{{ back_link }}">
					 <button type="submit" class="button negative"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/cross.png" />Cancel</button>
				</form>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Help</h1>
			<div class="content">
				<p>
					Some tips here...
				</p>
			</div>
		</section>
	</div>
{% endblock %}
