{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1><a href="">{{ object.name }}</a></h1>
			<div class="content clearfix">
				<h2>Summary</h2>
				<div class="object-summary backup-summary">
					<dl class="clearfix">
						<dt>Description:</dt>
						<dd>{{ object.name }}</dd>
						
						<dt>Client:</dt>
						<dd><a href="{{ object.client.get_absolute_url }}">{{ object.client.hostname }}</a></dd>
						
						<dt>Status:</dt>
						<dd>{{ object.get_status|capfirst }}</dd>
						
						<dt>Last run:</dt>
						<dd>{{ object.get_last_completed_result.started_at|default:'N/A' }}</dd>
						
						<dt>Last result:</dt>
						<dd><span class="{{ object.get_last_result_status }}">{{ object.get_last_result_status|capfirst }}</span></dd>
						
						<dt>Next run:</dt>
						<dd>{{ object.next_run|default:'N/A' }}</dd>
					</dl>
					<div class="actions">
						<span>Actions:</span>
						<ul class="actions">
							<li class="update"><a href="{% url backups_update_backup object.id %}" title="Update backup">Update</a></li>
							<li class="delete"><a href="{% url backups_delete_backup object.id %}" title="Delete backup">Delete</a></li>
							{% if object.active %}
								<li class="pause"><a href="{% url backups_pause_backup object.id %}" title="Pause backup">Pause</a></li>
							{% else %}
								<li class="resume"><a href="{% url backups_resume_backup object.id %}" title="Resume backup">Resume</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<hr />
				<h2>Results</h2>
				<table class="object_list">
					<thead>
						<tr>
							<th class="icon"></th><th>Client</th><th>Started</th><th>Duration</th><th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% if object.results.finished %}
							{% for result in object.results.finished %}
								<tr>
									<td class="icon"><img src="{{ STATIC_URL }}img/icons/famfamfam/{% if result.successful %}accept.png{% else %}exclamation.png{% endif %}" /></td>
									<td class="client"><a href="{{ result.client.get_absolute_url }}">{{ result.client }}</a></td>
									<td class="started"><a href="{{ result.get_absolute_url }}">{{ result.started_at }}</a></td>
									<td class="finished">{{ result.started_at|timesince:result.finished_at }}</td>
									<td class="status">{% if result.successful %}Success{% else %}Error{% endif %}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr class="info">
								<td colspan="6">
									This backup has not yet run.
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Help</h1>
			<div class="content menu clearfix">
				<p>Possibly help or something else here...</p>
			</div>
		</section>
	</div>
{% endblock %}
