{% extends 'backups/base.html' %}

{% block content %}
	<script language="javascript">
		$(function() {
			$("ul.formset-list li").formset();
		});
	</script>
	<div class="container">
		<section class="span-18">
			<h1>{% if backup %}{{ backup.name }}{% else %}Create a Backup{% endif %}
			<a href="{% if backup %}{{ backup.get_absolute_url }}{% else %}{% url backups_backup_list %}{% endif %}" class="header-button" title="{% if backup %}Back to '{{ backup.name }}'{% else %}Back to backup list{% endif %}">&larr; Back</a></h1>
			<div class="content clearfix">
				<form action="" method="post" class="standard-form">{% csrf_token %}
					<h2>Backup Details</h2>
					{% for error in backup_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in backup_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% else %}
							<div class="field-wrapper clearfix">
								{{ field.label_tag }}<br />
								<div class="field">{{ field }}</div>
								<div class="field-errors">	
									{% if field.errors %}
										<span class="error">{{ field.errors.0 }}</span>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<hr />
					<h2>Schedule Details</h2>
					{% for error in schedule_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for error in rule_formset.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in schedule_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% endif %}
					{% endfor %}
					<div class="field-wrapper clearfix">
						Run on &nbsp;{{ schedule_form.start_date }} &nbsp;at &nbsp;{{ schedule_form.start_time }} &nbsp;and then repeat every:
					</div>
					{{ rule_formset.management_form }}
					<div class="field-wrapper clearfix" id="rules">
						<ul class="formset-list">
							{% for form in rule_formset.forms %}
								{% for field in form %}
									{% if field.is_hidden %}
										{{ field }}
									{% endif %}
								{% endfor %}
								<li>
									
										{{ form.interval }}&nbsp;
										{% if form.interval.errors %}
											<span class="error">
											({{ form.interval.errors.0 }})
											</span>&nbsp;
										{% endif %}
										{{ form.frequency }}&nbsp;
										{% if form.frequency.errors %}
											<span class="error">
											({{ form.frequency.errors.0 }})
											</span>&nbsp;
										{% endif %}
										
								</li>
							{% endfor %}
						</ul>
					</div>
					<input type="submit" value="{% if backup %}Update Backup{% else %}Create Backup{% endif %}" /> or <a href="{% if backup %}{{ backup.get_absolute_url }}{% else %}{% url backups_backup_list %}{% endif %}">Cancel and go back</a>
				</form>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Help</h1>
			<div class="content">
				<p>
					Some tips here...
				</p>
			</div>
		</section>
	</div>
{% endblock %}
