{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>{{ object.name }}<a href="{% url backups_backup_list %}" class="header-button" title="Back to backups list">&larr; Back</a></h1>
			<div class="content clearfix">
				<h2>Details</h2>
				<p>
					<strong>Client:</strong> <a href="{{ object.client.get_absolute_url }}">{{ object.client.hostname }}</a><br />
					<strong>Status:</strong> {{ object.get_status|capfirst }}<br />
					<strong>Next run:</strong> {% if object.active %}{{ object.schedule.get_next_occurrence }}{% else %}N/A{% endif %}<br />
				</p>
				<hr />
				<h2>Recent Events</h2>
				<p>
					A list of recent events...
				</p>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Actions</h1>
			<div class="content menu clearfix">
				<p>
					<ul>
						<li>
							<a href="{% url backups_update_backup object.id %}" title="Update backup">Update backup</a>
						</li>
						<li>
							<a href="" title="Delete backup">Delete backup</a>
						</li>
					</ul>
				</p>
			</div>
		</section>
	</div>
{% endblock %}
