{% extends 'backups/base.html' %}

{% block content %}
	<script language="javascript">
		function addRule() {
			num_forms = parseInt($("#id_form-TOTAL_FORMS").val());
			$("#id_form-TOTAL_FORMS").val(num_forms+1);
			rule = $('<li><div class="field-wrapper clearfix"><select name="form-'+num_forms+'-interval" id="id_form-'+num_forms+'-interval"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>&nbsp; <select name="form-'+num_forms+'-frequency" id="id_form-'+num_forms+'-frequency"><option value="" selected="selected">---------</option><option value="YEARLY">Years</option><option value="MONTHLY">Months</option><option value="WEEKLY">Weeks</option><option value="DAILY">Days</option><option value="HOURLY">Hours</option><option value="MINUTELY">Minutes</option></select>&nbsp; <a class="remove-rule" title="Remove recurrence" href="#">(remove)</a></div></li>');
			rule.appendTo("#rules ul");
		}
		/*
		$(function() {
			firstRule = $($("#rules ul li")[0]);
			function removeRule(rule) {
				num_forms = parseInt($("#id_form-TOTAL_FORMS").val());
				$("#id_form-TOTAL_FORMS").val(num_forms-1);
				rule.remove();
				if (num_forms == 1)
				{
					$("#rules ul").append("<li><div class='field-wrapper clearfix'>(do not repeat)</div></li>");
				}
				return false;
			}
			
			function addRemovalClick() {
				$("#rules .remove-rule").click(function() { return removeRule($(this).parent().parent()); });
			}
			
			$("#new-rule").click(function() {
				addRule();
				return false;
			});
			
			addRemovalClick();
		});
		*/
		$(function() {
			$("ul.formset-list li").formset();
		});
	</script>
	<div class="container">
		<section class="span-18">
			<h1>Create a Backup</h1>
			<div class="content clearfix">
				<form action="" method="post" class="standard-form">{% csrf_token %}
					<h2>Backup Details</h2>
					{% for error in backup_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in backup_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% else %}
							<div class="field-wrapper clearfix">
								{{ field.label_tag }}<br />
								<div class="field">{{ field }}</div>
								<div class="field-errors">	
									{% if field.errors %}
										<span class="error">{{ field.errors.0 }}</span>
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<hr />
					<h2>Schedule Details</h2>
					{% for error in schedule_form.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for error in rule_formset.non_field_errors %}
						<p class="error">{{ error }}</p>
					{% endfor %}
					{% for field in schedule_form %}
						{% if field.is_hidden %}
							{{ field }}
						{% endif %}
					{% endfor %}
					<div class="field-wrapper clearfix">
						Run on &nbsp;{{ schedule_form.start_date }} &nbsp;at &nbsp;{{ schedule_form.start_time }} &nbsp;and then repeat every:
					</div>
					{{ rule_formset.management_form }}
					<div class="field-wrapper clearfix" id="rules">
						<ul class="formset-list">
							{% for form in rule_formset.forms %}
								{% for field in form %}
									{% if field.is_hidden %}
										{{ field }}
									{% endif %}
								{% endfor %}
								<li>
									
										{{ form.interval }}&nbsp;
										{% if form.interval.errors %}
											<span class="error">
											({{ form.interval.errors.0 }})
											</span>&nbsp;
										{% endif %}
										{{ form.frequency }}&nbsp;
										{% if form.frequency.errors %}
											<span class="error">
											({{ form.frequency.errors.0 }})
											</span>&nbsp;
										{% endif %}
										
								</li>
							{% endfor %}
						</ul>
					</div>
					<input type="submit" value="Create Backup" /> or <a href="{% url backups_backup_list %}">Cancel and go back</a>
				</form>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Help</h1>
			<div class="content">
				<p>
					Some tips here...
				</p>
			</div>
		</section>
	</div>
{% endblock %}
