{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>Delete Backup<a href="{{ backup.get_absolute_url }}" class="header-button" title="Back to '{{ object.name }}'">&larr; Back</a></h1>
			<div class="content clearfix">
				<p>Are you sure you wish to delete <strong>{{ backup.name }}</strong>?</p>
				<form method="POST">{% csrf_token %}
					<input type="hidden" name="confirm" value="true" />
					<button type="submit" class="button negative">Yes, I'm sure</button>
				</form>
				<form method="GET" action="{{ backup.get_absolute_url }}">
					<button type="submit" class="button">No, take me back</button>
				</form>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Actions</h1>
			<div class="content menu clearfix">
				
			</div>
		</section>
	</div>
{% endblock %}
