{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>Delete Backup</h1>
			<div class="content clearfix">
				<p>Are you sure you wish to delete <strong>{{ backup.name }}</strong>?</p>
				<form method="POST">{% csrf_token %}
					<input type="hidden" name="confirm" value="true" />
					<button type="submit" class="button positive"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/tick.png" />Yes, delete it</button>
				</form>
				<form method="GET" action="{{ back_link }}">
					<button type="submit" class="button negative"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/cross.png" />No, take me back</button>
				</form>
			</div>
		</section>
	</div>
{% endblock %}
