{% extends 'clients/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-24">
            <h1>Clients</h1>
            <div class="content">
                <a class="button" href="{% url clients_create_client %}"><img src="{{ STATIC_URL }}img/icons/famfamfam/add.png" /> Add a client</a>
                <table class="object_list">
                    <thead>
                        <tr>
                            <th class="icon"></th><th>Name</th><th>Status</th><th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for client in object_list %}
                                <tr>
                                    <td class="icon">{% include 'clients/client_icon.html' %}</td>
                                    <td class="name"><a href="{{ client.get_absolute_url }}">{{ client.hostname }}</a></td>
                                    <td class="status">{% if client.status.connected %}Connected{% else %}Disconnected{% endif %}</td>
                                    <td class="actions">
                                        <a href="{% url clients_update_client client.id %}" title="Update client">
                                            <img src="{{ STATIC_URL}}img/icons/edit_16.png" />
                                        </a>
                                        <a href="{% url clients_delete_client client.id %}" title="Delete client">
                                            <img src="{{ STATIC_URL}}img/icons/cancel_16.png" /></td>
                                        </a>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="info">
                                <td colspan="6">
                                    There are no clients at present. To create one, <a href="{% url clients_create_client %}">click here</a> or use the button below.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
