{% extends 'clients/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>{{ object.hostname }}</h1>
            <div class="content clearfix">
                <a class="button" href="{% url clients_update_client object.id %}"><img src="{{ STATIC_URL }}img/icons/famfamfam/pencil.png" /> Edit</a>
                <a class="button" href="{% url clients_delete_client object.id %}"><img src="{{ STATIC_URL }}img/icons/famfamfam/cross.png" /> Delete</a>
                <div class="object-summary host-summary">
                    <dl class="clearfix">
                        <dt>Description:</dt>
                        <dd>{{ object.hostname }}</dd>
                        
                        <dt>Secret key:</dt>
                        <dd><code>{{ object.secret_key }}</code></dd>
                        
                        <dt>Status:</dt>
                        <dd>{% if object.status.connected %}Connected{% else %}Disconnected{% endif %}</dd>
                    </dl>
                </div>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Help</h1>
            <div class="content menu clearfix">
                <p>
                    To edit this client's configuration, click the edit button.
                </p>
                <p>
                    To <strong>delete</strong> the client, click delete. Note that this will delete
                    all catalog data for this client, and <em>all archived files</em>. Be sure before
                    you choose this option.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
