{% extends 'clients/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>{{ object.hostname }}</h1>
            <div class="content clearfix">
                <h2>Summary</h2>
                <div class="object-summary host-summary">
                    <dl class="clearfix">
                        <dt>Description:</dt>
                        <dd>{{ object.hostname }}</dd>
                        
                        <dt>Secret key:</dt>
                        <dd><code>{{ object.secret_key }}</code></dd>
                        
                        <dt>Status:</dt>
                        <dd>{{ object.get_status|capfirst }}</dd>
                    </dl>
                    <div class="actions">
                        <span>Actions:</span>
                        <ul class="actions">
                            <li class="update">
                                <a href="{% url clients_update_client object.id %}" title="Update client">Update</a>
                            </li>
                            <li class="delete">
                                <a href="{% url clients_delete_client object.id %}" title="Delete client">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Help</h1>
            <div class="content menu clearfix">
                <p>Possibly help or something else here...</p>
            </div>
        </section>
    </div>
{% endblock %}
