{% extends 'catalog/browse_base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>Browse Catalog</h1>
            <div class="content">
                <a class="button" href=""><img src="{{ STATIC_URL }}img/icons/famfamfam/arrow_refresh.png" /> Refresh</a>
                <table class="object_list">
                    <thead>
                        <tr>
                            <th class="icon"></th><th>Client</th><th>Last Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for client in object_list %}
                            {% with client.get_last_modified_version.backed_up_at|timesince as lastmod %}
                                <tr>
                                    <td class="icon">{% include 'clients/client_icon.html' %}</td>
                                    <td class="name"><a href="{% url catalog_browse_route client.id %}">{{ client.hostname }}</a></td>
                                    <td class="lastmod">{{ lastmod|default:"N/A" }} ago</td>
                                </tr>
                               {% endwith %}
                            {% endfor %}
                        {% else %}
                            <tr class="info">
                                <td colspan="6">
                                    There are no clients at present. To create one, <a href="{% url clients_create_client %}">click here</a>.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Events</h1>
            <div class="content">
                {% if events %}
                    <ul class="events-list">
                        {% for event in events %}
                            <li class="{{ event.type }}"><a title="{{ event.get_type_display }} {{ event.item.path }} on {{ event.item.client }}" href="{{ event.item.get_absolute_url }}">{{ event.item.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="">More events &rarr;</a>
                {% else %}
                    <p>No events to display.</p>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
