{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-24">
        <h1>{{ client.hostname }}: {{ item.path|default:"/" }}</h1>
            <div class="content">
                <table class="object_list">
                    <thead>
                        <tr>
                            <th class="icon"></th><th>Name</th><th>Size</th><th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items %}
                            {% for item in items %}
                            {% with item.get_last_modified_version.backed_up_at|timesince as age %}
                                <tr>
                                    <td class="icon">{% include 'catalog/item_icon.html' %}</td>
                                    <td class="name"><a href="{{ item.get_absolute_url }}">{{ item.get_name }}</a></td>
                                    <td class="size">{{ item.get_last_modified_version.size|filesizeformat }}</td>
                                    <td class="age">{{ age|default:"N/A" }}</td>
                                </tr>
                               {% endwith %}
                            {% endfor %}
                        {% else %}
                            <tr class="info">
                                <td colspan="6">
                                    There are no files in the selected directory.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
