{% extends 'catalog/browse_base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
        <h1>{{ client.hostname }}: {{ item.path|default:"/" }}</h1>
            <div class="content">
                <a class="button" href=""><img src="{{ STATIC_URL }}img/icons/famfamfam/arrow_refresh.png" /> Refresh</a>
                <a class="button" href="{{ item.parent.get_absolute_url }}"><img src="{{ STATIC_URL }}img/icons/famfamfam/arrow_up.png" /> Parent folder</code></a>
                {% if show_deleted %}
                    <a class="button" href="?deleted=0"><img src="{{ STATIC_URL }}img/icons/famfamfam/bin_empty.png" /> Hide deleted items</a>
                {% else %}
                    <a class="button" href="?deleted=1"><img src="{{ STATIC_URL }}img/icons/famfamfam/bin.png" /> Show deleted items</a>
                {% endif %}
                <table class="object_list">
                    <thead>
                        <tr>
                            <th class="icon"></th><th>Name</th><th>Size</th><th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items %}
                            {% for item in items %}
                            {% with item.latest_version.backed_up_at|timesince as age %}
                            <tr{% if item.deleted %} class="deleted"{% endif %}>
                                    <td class="icon">{% include 'catalog/item_icon.html' %}</td>
                                    <td class="name"><a href="{{ item.get_absolute_url }}">{{ item.name }}{% ifequal item.type 'd' %}/{% endifequal %}</a></td>
                                    <td class="size">{% if item.deleted %}deleted{% else %}{{ item.latest_version.size|filesizeformat }}{% endif %}</td>
                                    <td class="age">{{ age|default:"N/A" }}</td>
                                </tr>
                            {% endwith %}
                            {% endfor %}
                            {% else %}
                            <tr class="info">
                                <td colspan="6">
                                    There are no files in the selected directory.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Events on {{ client.hostname }}</h1>
            <div class="content">
                {% if events %}
                    <ul class="events-list">
                        {% for event in events %}
                            <li class="{{ event.type }}"><a title="{{ event.get_type_display }} {{ event.item.path }}" href="{{ event.item.get_absolute_url }}">{{ event.item.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="">More events &rarr;</a>
                {% else %}
                    <p>No events to display.</p>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
