{% extends 'catalog/event_base.html' %}

{% block content %}
    <div class="container">
        <section class="span-24">
        <h1>Events</h1>
            <div class="content">
                <a class="button" href=""><img src="{{ STATIC_URL }}img/icons/famfamfam/arrow_refresh.png" /> Refresh</a>
                {% if is_paginated %}
                <div class="pagination">
                    <p>{{ paginator.count }} events, page {{ page_obj.number }} of {{ paginator.num_pages }} - </p>
                <ul>
                    {% if has_previous %}
                    {% if page_obj.number > 3 %}
                        <li class="first"><a href="{% url catalog_event_list_page 1 %}" title="First page">&laquo; First</a></li>
                    {% endif %}
                    <li class="previous"><a href="{% url catalog_event_list_page previous %}" title="Previous page">&lt;</a></li>
                    {% endif %}
                    {% for number in paginator.page_range %}
                        {% if number == page_obj.number %}
                            <li class="active">{{ number }}</li>
                        {% else %}
                            {% if number <= page_obj.number|add:'2' and number >= page_obj.number|add:'-2' %}
                                <li><a href="{% url catalog_event_list_page number %}" title="Page {{ number }}">{{ number }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if has_next %}
                        <li class="next"><a href="{% url catalog_event_list_page next %}" title="Next page">&gt;</a></li>
                        {% if page_obj.number < paginator.num_pages|add:'-2' %}
                            <li><a href="{% url catalog_event_list_page paginator.num_pages %}" title="Last page">Last &raquo;</a>
                        {% endif %}
                    {% endif %}
                </ul>
                </div>
                {% endif %}
                <table class="object_list events">
                    <thead>
                        <tr>
                            <th class="icon"></th><th>Event</th><th>Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for event in object_list %}
                            <tr>
                                <td class="icon">{% include 'catalog/event_icon.html' %}</td>
                                    <td class="event">{{ event.get_type_display }} <a href="{{ event.item.get_absolute_url }}">{{ event.item.name }}</a> on <a href="{{ event.item.client.get_absolute_url }}">{{ event.item.client.hostname }}</a></td>
                                    <td class="datetime">{{ event.occurred_at|date:"d/m/Y H:i" }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="info">
                                <td colspan="3">
                                    There are no events to display.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
