{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>{{ client.hostname }}: {{ item.path }}</h1>
            <div class="content clearfix">
                <h2>Details</h2>
                <div class="object-summary file-summary">
                    {% with item.get_last_modified_version.backed_up_at|timesince as age %}
                    <dl class="clearfix">
                        <dt>Path:</dt>
                        <dd>{{ item.path }}</dd>
                        
                        <dt>Last modified:</dt>
                        <dd>{{ age|default:"N/A" }} ago</dd>
                        
                        <dt>Size:</dt>
                        <dd>{{ item.size|filesizeformat }}</dd>
                    </dl>
                    {% endwith %}
                    <div class="actions">
                        <span>Actions:</span>
                        <ul class="actions">
                            <li class="download">
                                <a href="" title="Download file">Download</a>
                            </li>
                            <li class="restore">
                                <a href="" title="Restore file">Restore</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Help</h1>
            <div class="content menu clearfix">
                <p>Possibly help or something else here...</p>
            </div>
        </section>
    </div>
{% endblock %}
