{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>{{ client.hostname }}: {{ item.path }}</h1>
            <div class="content clearfix">
                <h2>Details</h2>
                <div class="object-summary file-summary">
                    {% with item.get_last_modified_version as latest %}
                    {% with latest.backed_up_at|timesince as age %}
                    <dl class="clearfix">
                        <dt>Path:</dt>
                        <dd>{{ item.path }}</dd>
                        
                        <dt>Last modified:</dt>
                        <dd>{{ age|default:"N/A" }} ago</dd>
                        
                        <dt>Size:</dt>
                        <dd>{{ latest.size|filesizeformat }}</dd>
                    </dl>
                    {% endwith %}
                    {% endwith %}
                </div>
                <hr />
                <h2>Versions</h2>
                <table class="object_list">
                    <thead>
                        <tr>
                            <th>Date/Time</th><th>Size</th><th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% with item.versions.all as versions %}
                        {% if versions %}
                            {% for version in versions %}
                                <tr>
                                    <td class="datetime"><a href="{% url catalog_view_version version.id %}">{{ version.backed_up_at|date:"SHORT_DATETIME_FORMAT" }}</a></td>
                                    <td class="size">{{ version.size|filesizeformat }}</td>
                                    <td class="actions">
                                        <a href="{% url catalog_download_version version.id %}" title="Download version">
                                            <img src="{{ STATIC_URL}}img/icons/download_16.png" />
                                        </a>
                                        <a href="" title="Restore version">
                                            <img src="{{ STATIC_URL}}img/icons/copy_16.png" />
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="error">
                                <td colspan="6">
                                    There are no versions in the catalog for this file.
                                </td>
                            </tr>
                        {% endif %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </section>
        <section class="span-6 last">
            <h1>Help</h1>
            <div class="content menu clearfix">
                <p>Possibly help or something else here...</p>
            </div>
        </section>
    </div>
{% endblock %}
