{% extends 'base.html' %}

{% block page_id %}dashboard{% endblock page_id %}

{% block content %}
	<script language="javascript">
		function setStatus(status) {
			if (status) {
				$("#system-status").removeClass("notice").removeClass("checking").addClass("success");
				$("#system-status").html("All systems go!");
			} else {
				$("#system-status").removeClass("notice").removeClass("checking").addClass("error");
				$("#system-status").html("Task queue is not responding.");
			}
		}
		
		$(function() {
			$("#system-status").addClass("checking");
			$("#system-status").html("Checking system status...");
			
			$.getJSON('/api/v1/check_status/', function(data) {
				setStatus(data.status);
			});
		});
	</script>
	
	<div class="container">
		<section class="span-18">
			<h1>Dashboard</h1>
			<div class="content">
				<div id="system-status" class="notice">Javascript is required to check system status.</div>
			</div>
		</section>
		
		<section class="span-6 last">
			<h1>Recent Events</h1>
			<div class="content">
				<p>
					Stuff that's just happened...
				</p>
			</div>
		</section>
	</div>
{% endblock %}
