{% extends 'base.html' %}

{% block page_id %}dashboard{% endblock page_id %}

{% block js %}
    <script language="javascript">
        function setStatus(status) {
            if (status) {
                $("#system-status").removeClass("notice").removeClass("checking").addClass("success");
                $("#system-status").html("Server running.");
                } else {
                $("#system-status").removeClass("notice").removeClass("checking").addClass("error");
                $("#system-status").html("Server not running.");
            }
        }

        $(function() {
            $("#system-status").addClass("checking");
            $("#system-status").html("Checking status...");

            $.ajax({ url:     '/status/',
                     success: function(data, textStatus) { setStatus(true); },
                     error:   function(XMLHttpRequest, textStatus) { setStatus(false); }
            });
        });
    </script>
{% endblock js %}

{% block content %}
    <div class="container">
        <section class="span-18">
            <h1>Dashboard</h1>
            <div class="content">
                <h2>Backup Filesystem</h2>
                <p>
                    Backup filesystem is currently <strong>{{ stats.used_pc }}%</strong> full.
                </p>
                <div class="progress-container">
                    {% with stats.used_pc as pc %}
                        <div class="{% if pc >= 85 %}critical{% else %}{% if pc >= 70 %}warning{% else %}normal{% endif %}{% endif %}" style="width: {{ stats.used_pc }}%"></div>
                    {% endwith %}
                </div>
                <p>
                    {{ stats.used|filesizeformat }}/{{ stats.size|filesizeformat }} used.
                </p>
                <h2>Catalog</h2>
                <p>
                    The catalog currently protects <strong>{{ stats.catalog_size|filesizeformat }}</strong> of data in total.
                </p>
                <div id="size-history" style="height: 300px;">
                     <script type="text/javascript">
                        {% spaceless %}
                        var data = [
                            {% for s in stats.size_history %}
                                [{{ s.0|date:"U" }} * 1000, {{ s.1 }}]{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ];
                        $.plot($("#size-history"), [data], {
                            xaxis: {
                                mode: "time",
                            },
                            yaxis: {
                                tickFormatter: bytesToSize,
                            }
                        });
                        {% endspaceless %}
                    </script>
                </div>
            </div>
        </section>
        <div class="span-6 last">
            <section>
                <h1>System Status</h1>
                <div class="content">
                        <div id="system-status" class="notice">Javascript required.</div>
                </div>
            </section>
            <section>
                {% include 'catalog/event_list_small.html' %}
            </section>
        </div>
    </div>
{% endblock %}
