{% extends 'backups/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>Delete Client</h1>
			<div class="content clearfix">
				<p>Are you sure you wish to delete <strong>{{ host.hostname }}</strong>?</p>
				<p>All history associated with this client will also be permanently removed.</p>
				{% if host.backups.all %}
				<p>
					Please note that this will also delete the following backups, <strong>and all associated history</strong>:
					<ul>
						{% for backup in host.backups.all %}
						<li>{{ backup.name }}</li>
						{% endfor %}
					</ul>
				</p>
				{% endif %}
				<form method="POST">{% csrf_token %}
					<input type="hidden" name="confirm" value="true" />
					<button type="submit" class="button positive"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/tick.png" />Yes, delete it</button>
				</form>
				<form method="GET" action="{{ back_link }}">
					<button type="submit" class="button negative"><img src="{{ STATIC_URL }}css/blueprint/plugins/buttons/icons/cross.png" />No, take me back</button>
				</form>
			</div>
		</section>
	</div>
{% endblock %}
