{% extends 'hosts/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>{{ object.hostname }}</h1>
			<div class="content clearfix">
				<h2>Summary</h2>
				<div class="object-summary host-summary">
					<dl class="clearfix">
						<dt>Description:</dt>
						<dd>{{ object.hostname }}</dd>
						
						<dt>Secret key:</dt>
						<dd><code>{{ object.secret_key }}</code></dd>
					</dl>
					<div class="actions">
						<span>Actions:</span>
						<ul class="actions">
							<li class="update"><a href="{% url hosts_update_host object.id %}" title="Update client">Update</a></li>
							<li class="delete"><a href="{% url hosts_delete_host object.id %}" title="Delete client">Delete</a></li>
						</ul>
					</div>
				</div>
				<h2>Backups</h2>
				{% if object.backups.all %}
					<table class="object_list">
						<thead>
							<tr>
								<th>Name</th><th>Status</th>
							</tr>
						</thead>
						<tbody>
						{% for backup in object.backups.all %}
							<tr class="{% cycle 'odd' 'even' %}{% if not backup.active %} inactive{% endif %}">
								<td><a href="{{ backup.get_absolute_url }}">{{ backup.name }}</a></td>
								<td>{{ backup.get_status|capfirst }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no backups for this client.</p>
				{% endif %}
				<hr />
				<h2>Recent Events</h2>
				<p>
					A list of recent events...
				</p>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Actions</h1>
			<div class="content menu clearfix">
				<ul>
					<li>
						<a href="{% url hosts_update_host object.id %}" title="Update client">Update client</a>
					</li>
					<li>
						<a href="{% url hosts_delete_host object.id %}" title="Delete client">Delete client</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
{% endblock %}
