{% extends 'hosts/base.html' %}

{% block content %}
	<div class="container">
		<section class="span-18">
			<h1>{{ object.hostname }}</h1>
			<div class="content clearfix">
				<h2>Summary</h2>
				<div class="object-summary host-summary">
					<dl class="clearfix">
						<dt>Description:</dt>
						<dd>{{ object.hostname }}</dd>
						
						<dt>Secret key:</dt>
						<dd><code>{{ object.secret_key }}</code></dd>
						
						<dt>Status:</dt>
						<dd>{{ object.get_status|capfirst }}</dd>
						
						<dt>Last backup:</dt>
						{% with object.get_last_completed_result as r %}
						<dd>
							{% if r %}
								<a href="{{ r.backup.get_absolute_url }}">{{ r.backup.name }}</a> <small>({{ r.started_at }})</small>
							{% else %}
								N/A
							{% endif %}
						</dd>
						{% endwith %}
						
						<dt>Last result:</dt>
						<dd><span class="{{ object.get_last_result_status }}">{{ object.get_last_result_status|capfirst }}</span></dd>
						
						<dt>Next backup:</dt>
						{% with object.get_next_backup as b %}
						<dd>
							{% if b %}
								<a href="{{ b.get_absolute_url }}">{{ b.name }}</a> <small>({{ b.next_run }})</small>
							{% else %}
								N/A
							{% endif %}
						</dd>
						{% endwith %}
					</dl>
					<div class="actions">
						<span>Actions:</span>
						<ul class="actions">
							<li class="update"><a href="{% url hosts_update_host object.id %}" title="Update client">Update</a></li>
							<li class="delete"><a href="{% url hosts_delete_host object.id %}" title="Delete client">Delete</a></li>
						</ul>
					</div>
				</div>
				<hr />
				<h2>Backups</h2>
				{% if object.backups.all %}
					<table class="object_list">
						<thead>
							<tr>
								<th>Name</th><th>Status</th>
							</tr>
						</thead>
						<tbody>
						{% for backup in object.backups.all %}
							<tr class="{% cycle 'odd' 'even' %}{% if not backup.active %} inactive{% endif %}">
								<td><a href="{{ backup.get_absolute_url }}">{{ backup.name }}</a></td>
								<td>{{ backup.get_status|capfirst }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>There are no backups for this client.</p>
				{% endif %}
				<h2>Results</h2>
				<table class="object_list">
					<thead>
						<tr>
							<th class="icon"></th><th>Started</th><th>Duration</th><th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% if object.results.finished %}
							{% for result in object.results.finished %}
								<tr>
									<td class="icon"><img src="{{ STATIC_URL }}img/icons/famfamfam/{% if result.successful %}accept.png{% else %}exclamation.png{% endif %}" /></td>
									<td class="started"><a href="{{ result.get_absolute_url }}">{{ result.started_at }}</a></td>
									<td class="finished">{{ result.started_at|timesince:result.finished_at }}</td>
									<td class="status">{% if result.successful %}Success{% else %}Error{% endif %}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr class="info">
								<td colspan="6">
									No results available.
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</section>
		<section class="span-6 last">
			<h1>Help</h1>
			<div class="content menu clearfix">
				<p>Possibly help or something else here...</p>
			</div>
		</section>
	</div>
{% endblock %}
